/* 
 * Created on : 2.7.2017, 15:01:12
 * Author     : Dave
 * Version    : 1.0
*/

*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background-color: #292c37;
    color: #fff;
    text-align: center;
    font: 68.75%/1.4 "Open Sans", Tahoma, "Lucida Grande CE",lucida,sans-serif;
    display: flex;
    box-sizing: border-box;
}

html, body, form, fieldset, label, legend, object {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

div {
    display: block;
}

ul, ol {
    margin-top: 1em;
    margin-bottom: 1.2em;
}

a {
    color: #e9262d;
    text-decoration: none;
}

label {
    font-size: 11px;
}

a:hover {
    color: #fff;
}


input[type="text"], input[type="email"], input[type="tel"], input[type="password"], input[type="search"], input[type="number"], select {
    line-height: 1;
    padding: 0.3125rem;
    border: 1px solid #cfcfcf;
    color: #000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,from(hsla(0,0%,100%,0)),to(hsla(0,0%,100%,0)));
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,0))
}

button {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.succesful-message {
    border: 3px solid #6abf7a;
    padding: 7px;
    border-radius: 3px;
    font-size: 13px;
    background: #90cf9c;
    font-weight: bold;
    color: white;
}

.error-message {
    border: 3px solid #e13f44;
    padding: 7px;
    border-radius: 3px;
    font-size: 13px;
    background: #e3555c;
    font-weight: bold;
    color: white;
}

.btn {
    background-color: #1d1f3a;
    padding: 10px 10px 10px;
    margin-top: 20px;
}

.btn:hover {
    background: #e9262d;
}


#main {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #515151;
    text-align: left;
}

.layout-column-main {
    width: 1366px;
}

.clearfix {
    display: block;
    background-color: #313335;
}

.admin-bar {
    position: relative;
    background-color: #1d1f3a;
    display: flex;
}

.logo-wrapper {
    z-index: 1;
    position: relative;
    float: left;
    width: 16.55%;
    min-width: 200px;
    height: 52px;
    vertical-align: middle;
    text-align: center;
}

.logo-system {
    position: relative;
    display: inline-block;
    width: 126px;
    height: 52px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    font-size: 0;
    text-decoration: none;
}

.logo-system::before {
    content: '';
    background: url(../img/logo.png) no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 10px;
}

.admin-bar-ul {
    padding: 0;
    margin: 0;
}

.admin-bar-list-li {
    list-style-type: none;
    float: left;
    border-left: 1px solid #515151;
}

.admin-bar-list-inside {
    padding: 19px 50px 16px 50px;
    font-size: 12px;
    display: block;
}

a.admin-bar-list-inside {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.admin-bar-list-inside:hover {
    background: #e9262d;
}

.admin-bar-list-inside>a:hover {
    color: white;
}

.login-link {
    padding-left: 10px;
}

.person-icon::before {
    content: '';
    background: url('../img/person_icon.svg') no-repeat;
    z-index: 110;
    position: absolute;
    left: 245px;
    top: 10px;
    display: block;
    width: 47px;
    height: 45px;
}

.flex-column {
    height: 100%;
    position: relative;
    display: flex;
    flex-shrink: 0;
}

.column-flex-left {
    background: #292c37;
    flex: 0.615;;
}

.navigation-menu {
    position: relative;
    padding-top: 1.3637em;
    padding-bottom: 1.3637em;
    text-transform: uppercase;
}

.navigation-menu>li>a {
    border-bottom: 1px solid #5c5e7c;
    border-left: 1px solid #5c5e7c;
    padding-top: 1.3637em;
    padding-bottom: 1.3637em;
}

.navigation-menu>li>a {
    position: relative;
    display: block;
    color: #fff;
    line-height: 1.4;
    text-decoration: none;
    word-wrap: break-word;
    font-size: 13px;
    padding: 15px 55px 15px;
}

.navigation-menu a:hover {
    background-color: #e9262d;
    text-decoration: none;
}

.column-flex-left>ul>li {
    position: relative;
    list-style-type: none;
}

#main > div.flex-column > div.column-flex-left > ul > li:nth-child(1) {
    border-top: 1px solid #5c5e7c;
}

.navigation-menu>li>a::before {
    position: absolute;
    left: 10px;
    top: 20px;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-left: 4px;
}

.icon-page-news::before {
    content: '';
    background: url('../img/news_icon.svg') no-repeat;
}

.icon-page-account::before {
    content: '';
    background: url('../img/account_icon.svg') no-repeat;
}

.icon-page-moduls::before {
    content: '';
    background: url('../img/module_icon.svg') no-repeat;
}

.icon-page-contacts::before {
    content: '';
    background: url('../img/contact_icon.svg') no-repeat;
}

.icon-page-news {
    line-height: 60px;
}

.list-reset {
    padding: 0;
    margin: 0;
}

ul.navigation-submenu  {
    font-size: 11px;
    text-transform: none;
    margin: 0;
    padding: 0;
}

.navigation-submenu li {
    margin: 0;
    padding: 5px 70px 5px;   
    background: #4e5067;
    list-style-type: none;
}

.navigation-submenu>li>a {
    color: #fff;
    background: none;
}

.navigation-submenu>li>a:hover {
    color: #e9262d;
    background: none;
}

.column-flex-right {
    background: #e4e7ef;
    flex: 3;
    padding: 15px 15px 15px;
    color: #000000;
}

.right-content-cover {
    padding: 20px 20px 20px;
    background: #f3f3f4;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #d4d7dc;
}

.post-table {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.post-table input {
    margin-bottom: 15px;
    width: 30%;
}

.form_align {
    width: 330px;
    padding: 20px 40px 20px;
    margin: auto;
    margin-top: 10px;
}

.input-login-reg {
    width: 100%;
    margin-top: 15px;
    height: 42px;
    font-size: 80%;
    padding-left: 20px;
    padding-right: 20px;

}

.btn-login-reg {
    width: 100%;
    background-color: #1d1f3a;
    padding: 10px 10px 10px;
    margin-top: 20px;
}

.btn-login-reg:hover {
    background: #e9262d;
}

.standard-table {
    width: 100%;
    border-collapse: collapse;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
}

.standard-table th {
    padding: .40em 1em;
    border-width: 1px 1px 3px;
    border-style: solid;
    border-color: #ddd #ddd #e3555c;
    background-color: #f0f0f0;
    text-align: center;
}

.standard-table td {
    padding: .40em 1em;
    border: 1px solid #e7e7e7;
    background-color: #fff;
}

.btn-table {
    background-color: #1d1f3a;
    width: 100%;
    display: block;
    text-align: center;
}

.btn-table:hover {
    background: #e9262d;
}


#footer {
}

#copyright {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}


